/*Common elements*/
body {
    font-size: 60%;
    font-family: "Arial Black", Gadget, sans-serif;
    background: #daedf0 url(images/Wallpapers_Paw_Prints_NB.jpg) no-repeat fixed top center;
    padding: 0;
    margin: 0;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
h1 {
    color: #000001;
    font-size: 2.0em;
    margin: 0.5em 0 0.5em 0;
    padding: 0;
}
h2 {
    color:#000001;
    font-size: 1.7em;
    padding: .5em 0 0 0;
    margin: 0.5em 0 0.35em 0;
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: black;
    padding: 0px;
    margin: 0px 0.5em 0.75em 0px;
}
ol {
    font-size: 1.2em;
    margin: 0 0 0 1.0em;
    padding: 0 0 0 1.0em;
}
ol li {
    margin: 0;
    padding: 0 0 0.2em;
}
a, a:visited {
    color: #003d66;
}
a:hover {
    color: #808B96;
}
hr {
    padding: 0;
    margin: 1.5em 1.5em 0.75em 0.5em;
}
.contentWrapper {
    margin: 0 5em 0 -1.5em;
    max-width: 1170px;
    padding: 0 3.0em;
}
.left {
    float: left;
}
.right {
    float: right;
}
div.clear { 
    clear:both;
    font-size: 5em;
}
/*Header*/
header {
    padding: 2.5em 0 0.5em;
    margin: 0 0 2.0em;
    background: #c2d0d6 center 0px;
}
header h1 {
    font-family: "Arial Black", Gadget, sans-serif;
    color: #6a8d92;
    font-size: 6em;
    letter-spacing: -0.025em;
    margin: 0;    
    text-shadow: 1px 2px 0 #FFA62B; 
}
header h2 {
    font-weight: bold;
    font-size: 3.8em;
    color: #003d66;
    margin: -0.4em 0 0 1.0em;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
/*Nav Bars*/
nav {
    color: black;
    font-size: 1.7em;
    letter-spacing: 0.04em;
    padding: 1.0em 1.0em 0.5em;
    margin: 1.0em 0 ;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin: 0;
}
nav li a, nav li a:visited {
    text-decoration: none;
    color: #393b80;
    padding: 0.3em 0.6em;
}
nav li a:hover {
    color: #253237;
    background-color: #f7f7ff;
}
nav#utilityMenu {
    float: right;
    margin: .5em 0 0 0;
    padding: 0.5em;
    background-color: #6a8d92;
    
}
nav#utilityMenu li {
    padding: 0 0.25em 0 0.2em;
    vertical-align: middle;    
}
nav#utilityMenu ul li.acctNav a, nav#utilityMenu ul li.acctNav a:visited {
    color: #f7f7ff;
    text-decoration: none;
    display: inline-block;
    height: 2em;
    padding: 0;
    margin: -0.4em 0 0 0;
    font-size: 0.8em;
}
nav#utilityMenu ul li.acctNav a:hover {
    background-color: lightslategray;
    color: #f7f7f7;
}
nav#utilityMenu li a, nav#utilityMenu li a:visited { padding: 0;}
nav#utilityMenu li a:hover { background-color: transparent;}
nav#utilityMenu ul li input#search {
    vertical-align: middle;
    margin: 0 0 0 0;
}
nav#utilityMenu ul li.acctNav::before, nav#utilityMenu ul li input#search::before {
    content: " | ";
    color: #253237;
}
/*Sidebar Section*/
section#sidebar {
    width: 240px;
    float: right;
    position: relative;
    display: block;
    background-color: #f7f7ff;
    margin: 1.5em 0 3.0em 1.5em;
    padding: 1.7em 0.5em 2.0em 1.7em;
    border-left: #253237 solid 8px;
   }
/*Main Section*/
section #main {
    background-color:#f7f7ff;
    margin: 0 0 0 80px;
    padding: 1.5em  0 2.0em 1.5em;
    display: inline-block;
    border-radius: 2em;
    box-shadow: 1px 1px 5px #777;
   }
   section div.panel{
    float: left;
    position: relative;
    width: 230px;
    margin: 0 0.5em 2.0em 0.5em;
    padding: 2em;
    background-color: #f7f7ff;
    border: #ccc solid 5px;
    border-radius: 0.97em;
   }
   section div.panel img {
    width: 100%;
   }
/*Footer*/
footer {
    background-color:#6a8d92;
    height: 15px;
    font-size: .5em;
    color:#f7f7ff;
    text-align: center;
    padding: 2.0em;
}
footer ul#menuFooter {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0 em;
    padding: .2em;
    text-align: center;
}
footer ul li {
    display: inline-block;
    padding: 0 0.7em 0 0;
    margin: 0;
}
footer ul li::before {
    content: " || ";
    padding-right: 0.7em;
}
footer a, footer a:visited {
    color: #f7f7ff;
    text-decoration: none;
}
footer a:hover {
    color: lightslategray;
    text-decoration: underline;
}
button {
    color: #FFA62b;
    background-color: #6a8D92;
    display: inline-block;
    margin: 0 0.75em 0 0;
    padding: 0.2em 0.5em;
    border: 1px solid #253237;
    text-transform: uppercase;
}
button:hover {
    background-color: #FBF3DB;
    border: 1px solid #2f746b;
}